build/*
extern/*
*.pt
/12m_pts
/12mf_pts
/300m-pts
/build-asan
dataset/*
training_curves.png
cutechess-debug.bat
cutechess-test.bat
elo_progression_v2.png
elo_progression.png
engine_nnue.bat
engine_pst.bat
games_detail.csv
match_summary.csv
results_e4.pgn 
results_v1_vs_v2.pgn
results_v2.pgn 
training_log_parquet.json 
training_log.json
.vscode
